.intro {
    color: #ED9B40;
    font-size: 300%;
}

html {
    font-family: verdana;
    background-color: #FFEEDB;
}

.food ul {
    color: black;
    border: solid;
    background-color: #AA8F66;
}

.oat ol {
    color: black;
    border: solid;
    background-color: #AA8F66;
}

.oat h1 {
    color: #AA8F66;
    border: solid;
    border-color: black;
    background-color: #61C9A8;

}

.oat h1 {
    color: #AA8F66;
    border: solid;
    border-color: black;
    background-color: #61C9A8;

}

.month h1 {
    color: #AA8F66;
    border: solid;
    border-color: black;
    background-color: #61C9A8;

}

.month ol {
    color: black;
    border: solid;
    background-color: #AA8F66;
}

.month footer {
    color: black;
    font-weight: bold;
}

.state h1 {
    color: #AA8F66;
    border: solid;
    border-color: black;
    background-color: #61C9A8;

}

.contact {
    color: white;
}

.jk {
    color: red;
    font-size: 150%;
}

.main {
    font-size: 130%;
}

.oat footer {
    color: black;
    font-weight: bold;
}

.food h1 {
    color: #AA8F66;
    border: solid;
    border-color: black;
    background-color: #61C9A8;

}

.state {
    border: solid;
    border-color: black;
    background-color: #AA8F66;
}

header {
    border: solid;
    border-color: black;
    background-color: #AA8F66;
    font-weight: bold;
}

.home p {
    font-weight: bold;
    color: white;
}

.story h1 {
    font-family: Impact;
    font-weight: bold;
}

body .story {
    border: solid;
    border-color: black;
    background-color: #AA8F66;
    font-weight: bold;
    padding-bottom: 1000px;


}

.home h1 {
    color: white;
}

.home {
    padding-bottom: 800px;
    background-image: url('https://wallpapercave.com/wp/wp10532924.jpg')
}

.statepic {
    display: inline-block;
    position: relative;
    clear: none;
}

#fl {
    position: relative;
    left: 700px;
    bottom: 413px;
}

#carolina {
    position: relative;
    float: right;
    bottom: 845px;
}

.contact {
    display: fixed;
    color: blue;
}